/* General styling */
/* General Styling */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

/* Ensure content stays on top */
.container {
  position: relative;
  z-index: 1;
}

.button {
  padding: 15px 30px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.columbia {
  background-color: #1e3a8a;
  color: white;
}
.queens-college {
  background-color: #007a3d;
  color: white;
}
.button:hover {
  opacity: 0.8;
}

a {
  position: relative;
  width: 150px;
  height: 70px;
  transition: 4s;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0deg);
}
a:hover {
  transform: perspective(1000px) rotateX(360deg);
}
a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  transition: 0.5s;
  border: 2px solid #000;
  box-sizing: border-box;
  box-shadow: insert 0 20px 50px rgba(0, 0, 0, 0.2);
}
a:hover span {
  color: #fff;
  background: #b9d9eb;
}
a span:nth-child(1) {
  transform: rotateX(360deg) translateZ(25px);
}
a span:nth-child(2) {
  transform: rotateX(270deg) translateZ(25px);
}
a span:nth-child(3) {
  transform: rotateX(180deg) translateZ(25px);
}
a span:nth-child(4) {
  transform: rotateX(90deg) translateZ(25px);
}
.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Background Container */
.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

/* Top and Bottom Image */
.image-top,
.image-bottom {
  width: 100%;
  height: 50vh; /* Each image takes half the screen */
  object-fit: cover;
  opacity: 0.6; /* Light opacity for readability */
}
.bubble-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
}
.column2 a:hover span {
  background: #1e3a8a;
}
